@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form method="get" asp-page="/">
        <div class="form-floating">
            <input id="story-url" name="name" class="form-control" aria-required="true" value="@Model.Name"/>
            <label for="story-url" class="form-label">Search</label>
        </div>
        <div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Search</button>
        </div>
    </form>
    
    <ul>
        @{
            @foreach (var story in Model.UpdatedStories)
            {
                <li><a href="/StoryDetails/@story.FileName">@story.StoryName</a> by @story.AuthorName. @(story.IsComplete ? "Complete" : "Incomplete") Updated: @story.StoryUpdated.ToString("yyyy-MM-dd"). <a href="/Story/@story.FileName">Download</a></li>
            }
        }
    </ul>
    
    @if (Model.RecentlyAdded != null && Model.RecentlyAdded.Any())
    {
        <h3>Recently added</h3>
        <ul>
            @foreach (var story in Model.RecentlyAdded)
            {
                <li><a href="/StoryDetails/@story.FileName">@story.StoryName</a> by @story.AuthorName. @(story.IsComplete ? "Complete" : "Incomplete") Updated: @story.StoryUpdated.ToString("yyyy-MM-dd"). <a href="/Story/@story.FileName">Download</a></li>
            }
        </ul>
    }
</div>