@page "{id}"
@model StoryDetailsModel
@{
    ViewData["Title"] = "Story details";
}

@if (Model.Story != null)
{
    <div>
        <h1>@Model.Story.StoryName</h1>
        By @Model.Story.AuthorName<br/><br/>
        @(Model.Story.IsComplete ? "Complete" : "Incomplete")<br/>
        Last updated: @Model.Story.StoryUpdated.ToString("yyyy-MM-dd")<br/>
        <br/>
        <a href="@Model.Story.StoryUrl">Go to the story</a><br/>
        <a href="/Story/@Model.Story.FileName">Download EPUB</a> 
    </div>
}
else
{
    <div>
        <h1>Not Found</h1>
    </div>
}